<div *ngFor="let book of books" class="mb-3">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">

        <h5 class="mb-2">{{book.title}}</h5>
        <small class="text-muted">isbn : {{book.isbn}}</small>
      </div>
      <div class="d-flex">
        <img [src]="book.thumbnailUrl" alt="{{book.title}}">
        <p class="ml-2">{{book.shortDescription}}</p>

      </div>
      <small class="text-muted">Author(s): {{book.authors}}</small>
    </a>
  </div>

</div>
